packer/rhel/files/*.iso
packer/rhel/*pkrvars.hcl
oemdrv.iso
run_tf.sh
terraform/*.tfstate
terraform/*.backup
terraform/variables*
terraform/terraform-plugin-proxmox.log
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
ansible/.ansible_become_password
ansible/.vault_password
